
path {
    stroke: #fff;
}

    path:hover {
        opacity: 0.9;
    }

rect:hover {
    fill: blue;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.title {    
    max-width: 600px;   
    overflow:hidden;
    margin-bottom: -5px;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.domain {    
    -webkit-padding-end: 6px;
    -webkit-padding-start: 2px;
    color: rgb(151, 156, 160);
    min-width: -webkit-min-content;
    overflow: hidden;
    white-space: nowrap;
}

.fav {
background-color:#FFFFE4;
}